<div class="accordion accordion-flush" id="accordionFlushExample">
    <!-- Crypto Address Payment Method -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingCrypto">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseCrypto" aria-expanded="false" aria-controls="flush-collapseCrypto">
                Crypto Address
            </button>
        </h2>
        <div id="flush-collapseCrypto" class="accordion-collapse collapse" aria-labelledby="flush-headingCrypto"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                

                <p><strong>Crypto Address:</strong> 1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</p>


            </div>
        </div>
    </div>

    <!-- Paypal Payment Method -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingPaypal">
            <!-- <div class="paypalPaymentMessageResponse" id="paypalPaymentMessageResponse"></div> -->
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapsePaypal" aria-expanded="false" aria-controls="flush-collapsePaypal">
                Paypal
            </button>
        </h2>
        <div id="flush-collapsePaypal" class="accordion-collapse collapse" aria-labelledby="flush-headingPaypal"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                

                <p><strong>Paypal Email:</strong> johndoe@gmail.com</p>


            </div>
        </div>
    </div>

    <!-- Cashapp Payment Method -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingCashapp">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseCashapp" aria-expanded="false" aria-controls="flush-collapseCashapp">
                Cashapp
            </button>
        </h2>
        <div id="flush-collapseCashapp" class="accordion-collapse collapse" aria-labelledby="flush-headingCashapp"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                
                <p><strong>Cashapp ID:</strong> $johndoe123</p>


            </div>
        </div>
    </div>
</div>