<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>

    <link rel="shortcut icon" href="https://res.cloudinary.com/djspmrmxw/image/upload/v1763585830/favicon_jrrtly.png" />
</head>

<body>
    <h2>Your Password has been reset</h2>
    <a href="{% url 'login' %}">Please login </a>

    {% include 'dashboard/_components/live_chat_whatsapp_widget.html' %}
</body>



</html>