{% extends 'dashboard_base.html' %}
{% load static %}


{% block style %}
<style>
    .asterisks {
        color: red;
    }
</style>
{% endblock %}

{% block content %}

<main class="content">
    <div class="container-fluid p-0">

        {% if not user.has_submitted_kyc %}
        <h1 class="h3 mb-3"><strong>Complete Your KYC Verification</strong></h1>
        <p style="font-size: 12px; max-width: 600px;">
            KYC (Know Your Customer) helps us determine your eligibility status for some of the services
            we can offer you.
            It is very important that you fill the form below with accurate information as it will be verified.
            Once you have updated your information, you will be notified when it has been approved.
        </p>

        <div class="card">
            <div class="card-body">
                <form id="KYCForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-sm-6">
                            <label for="marital_choice" class="form-label">Marital Status <span
                                    class="asterisks">*</span></label>
                            <select id="marital_choice" required name="marital_choice" class="form-select" required
                                aria-label="Default select example">
                                {% for marital_choice in marital_choices %}
                                <option style="text-transform: capitalize;" value="{{marital_choice}}">
                                    {{marital_choice}}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label for="number_of_dependents" class="form-label">Number of
                                Dependents <span class="asterisks">*</span></label>
                            <input type="number" required id="number_of_dependents" name="number_of_dependents"
                                class="form-control">

                        </div>
                    </div>


                    <!-- Employment Information -->
                    <h4 class="mt-3">Employment/Business Information</h4>

                    <div class="row">
                        <div class="mb-3 col-sm-6">
                            <label for="employment_status" class="form-label">Employment Status <span
                                    class="asterisks">*</span></label>
                            <select id="employment_status" required name="employment_status" class="form-select"
                                required aria-label="Default select example">
                                {% for employment_status in employment_statuses %}
                                <option style="text-transform: capitalize;" value="{{employment_status}}">
                                    {{employment_status}}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label for="employment_type" class="form-label">Employment Type </label>
                            <select id="employment_type" name="employment_type" class="form-select" required
                                aria-label="Default select example" required>
                                {% for employment_type in employment_types %}
                                <option style="text-transform: capitalize;" value="{{employment_type}}">
                                    {{employment_type}}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="file__upload">
                                <label for="proof_of_employment" class="form-label">Proof of
                                    Employment or Business Ownership</label>
                                <input type="file" id="proof_of_employment" name="proof_of_employment"
                                    class="form-control" required>
                            </div>
                            <span style="font-size: 12px;">Pay stubs, employment letters, or
                                contracts.</span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="file__upload">
                                <label for="proof_of_income" class="form-label">Proof of Income</label>
                                <input type="file" id="proof_of_income" name="proof_of_income" class="form-control"
                                    required>
                            </div>
                            <span style="font-size: 12px;">Tax returns, bank statements, or financial
                                documents.</span>
                        </div>
                    </div>



                    <div class="mb-3">
                        <label for="employment_status" class="form-label">Employment Status <span
                                class="asterisks">*</span></label>
                        <select id="employment_status" name="employment_status" class="form-select" required
                            aria-label="Default select example">
                            {% for employment_status in employment_statuses %}
                            <option style="text-transform: capitalize;" value="{{employment_status}}">
                                {{employment_status}}</option>
                            {% endfor %}

                        </select>
                    </div>



                    <!-- Proof of Legal Residency or Citizenship -->
                    <h4 class="mt-3">Proof of Legal Residency or Citizenship</h4>

                    <div class="mb-3 mt-3">
                        <label for="citizenship_status" class="form-label">Are you a US Citizen?
                            <span class="asterisks">*</span> </label>
                        <select id="citizenship_status" name="citizenship_status" class="form-select" required
                            aria-label="Default select example">
                            {% for citizenship_status in citizenship_statuses %}
                            <option style="text-transform: capitalize;" value="{{citizenship_status}}">
                                {{citizenship_status}}
                            </option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <label for="ssn" class="form-label">SSN <span class="asterisks">*</span></label>
                            <input type="number" class="form-control" id="ssn" name="ssn" required>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="tax_identity_number" class="form-label">TIN <span
                                    class="asterisks">*</span></label>
                            <input type="number" class="form-control" id="tax_identity_number"
                                name="tax_identity_number" required>
                        </div>
                    </div>

                    <!-- Proof of Identification -->
                    <h4 class="mt-3">Proof of Identification</h4>
                    <div class="mb-2 mt-3 p" style="font-size: 14px;">Please Provide a Government Issued
                        Means of Identification.
                    </div>

                    <div class="">
                        <label for="government_id_type" class="form-label"> <span class="asterisks">*</span>ID
                            Type</label>
                        <select id="government_id_type" name="government_id_type" class="form-select" required
                            aria-label="Default select example">
                            {% for id_type in all_id_types %}
                            <option style="text-transform: capitalize;" value="{{id_type}}">
                                {{id_type}}
                            </option>
                            {% endfor %}

                        </select>
                    </div>




                    <div class="mb-1 mt-3">
                        <label for="government_id_number" class="form-label">ID Number
                        </label>
                        <input type="text" class="form-control" id="government_id_number" name="government_id_number">
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label for="front_id_image" class="form-label mt-3">Front ID Image <span
                                    class="asterisks">*</span></label>
                            <input type="file" class="form-control" id="front_id_image" name="front_id_image"
                                accept="image/*" required>
                        </div>

                        <div class="col-sm-6">
                            <label for="back_id_image" class="form-label mt-3">Back ID Image <span
                                    class="asterisks">*</span> </label>
                            <input required type="file" class="form-control" id="back_id_image" name="back_id_image"
                                accept="image/*">
                        </div>
                        <div class="col-sm-6">
                            <label for="image_holding_id" class="form-label mt-3">Image of you holding ID <span
                                    class="asterisks">*</span> </label>
                            <input required type="file" class="form-control" id="image_holding_id"
                                name="image_holding_id" accept="image/*">
                        </div>

                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <button id="submitBtn" type="submit" class="btn btn-lg btn-primary">
                            <span id="submitText">Update KYC</span>
                            <span id="loadingSpinner"
                                class="d-none spinner-border spinner-border-sm loading-spinner"></span>
                        </button>
                    </div>

                </form>
            </div>
        </div>

        {% else %}
        <h1 class="h3 mb-3"><strong>KYC details are awaiting approval... </strong></h1>
        <p style="font-size: 12px; max-width: 600px;">
            Thank you for updating your information with us. We are reviewing your documents.
            We will contact via an email once your document has been confirmed.
        </p>
        <a href="{% url 'dashboard_home' %}">Go back to dashboard</a>
        {% endif %}
    </div>
</main>





{% endblock %}

{% block script %}

<script>
    const form = document.getElementById("KYCForm");
    const submitBtn = document.getElementById("submitBtn");
    const loadingSpinner = document.getElementById("loadingSpinner");
    // const errorMessage = document.getElementById("errorMessage");

    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        // errorMessage.style.display = 'none';
        submitBtn.disabled = true;
        loadingSpinner.style.display = 'inline-block';

        const formData = new FormData(form);

        try {
            const response = await fetch("{% url 'verify_user_kyc' %}", {
                method: "POST",
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
            });
            const result = await response.json();

            if (response.ok) {
                alert(result.message);
                window.location.href = "{% url 'update_kyc' %}";
            } else {
                alert(result.message);
                // errorMessage.style.display = 'block';
                // errorMessage.textContent = result.error || "Registration failed.";
            }
        } catch (error) {
            // errorMessage.style.display = 'block';
            // errorMessage.textContent = "An error occurred while we are reviewing your KYC.";
            console.error("Error:", error);
        } finally {
            submitBtn.disabled = false;
            loadingSpinner.style.display = 'none';
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const citizenshipStatus = document.getElementById("citizenship_status");
        const ssnField = document.getElementById("ssn");
        const tinField = document.getElementById("tax_identity_number");
        const ssnLabel = document.querySelector("label[for='ssn']");
        const tinLabel = document.querySelector("label[for='tax_identity_number']");

        citizenshipStatus.addEventListener("change", function () {
            if (citizenshipStatus.value === "Non-US Citizen") {
                // Remove required attribute for Non-US Citizen
                ssnField.removeAttribute("required");
                tinField.removeAttribute("required");
                // Remove asterisks from labels
                removeAsterisk(ssnLabel);
                removeAsterisk(tinLabel);
            } else if (citizenshipStatus.value === "US Citizen") {
                // Add required attribute back for US Citizen
                ssnField.setAttribute("required", true);
                tinField.setAttribute("required", true);
                // Add asterisks back to labels
                addAsterisk(ssnLabel);
                addAsterisk(tinLabel);
            }
        });

        function removeAsterisk(label) {
            const asterisk = label.querySelector(".asterisks");
            if (asterisk) {
                asterisk.remove();
            }
        }

        function addAsterisk(label) {
            if (!label.querySelector(".asterisks")) {
                const asteriskSpan = document.createElement("span");
                asteriskSpan.classList.add("asterisks");
                asteriskSpan.textContent = "*";
                label.appendChild(asteriskSpan);
            }
        }
    });

</script>
{% endblock %}