{% extends 'website_base.html' %}

{% load static %}

{% block content %}



<script>
    document.addEventListener("DOMContentLoaded", function () {
        const rules = `
                Rules:
                1. Do not reinvest from account balance.
                2. Upgrade your account once the company requires it.
                3. Do not create multiple accounts with the same IP address.
                4. Contact the company's online support team if you need assistance.
                5. Do not deposit lower than $50.
            `;
        alert(rules);
    });
</script>

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div>
    <!-- /.sticky-header__content -->
</div>
<!-- /.stricky-header -->

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->

    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="?a=home">Home</a></li>
                <li><span>/</span></li>
                <li>About Us</li>
            </ul>
            <h2>About Us</h2>
        </div>
    </div>
</section>
<!--Page Header End-->

<!--About Start-->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="about__img-box">
                    <div class="about-img">
                        <img src="{% static 'space/images/faq-one-img-1.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about__right">
                    <h2 class="about__title">We believe humanity can solve any challenge</h2>
                    <div class="about__icon-box">
                        <div class="about__icon">
                            <span class="icon-data-oil-can"></span>
                        </div>
                        <div class="about__icon-text">

                        </div>
                    </div>
                    <p class="about__right-text">spacelaunchedprojectltd.com, Malaysia, has established long lasting
                        relationships with European, U.S. and Saudi Arabia based OEM companies that provide innovative
                        equipment and tools to the Oil & Gas Industry.<br><br>

                        Our company has a long, robust history, which began when a group of explorers and merchants
                        established the Pacific Coast Oil Co. (which is now know as Chevron) on Sept. 10, 1879. Since
                        then, we’ve always retained our founders’ spirit, grit, innovation and perseverance.<br><br>

                        spacelaunchedprojectltd.com earliest suppliers, Pacific Coast Oil Co., was incorporated in 1879
                        in San Francisco. This was the site of the company's Pico No. 4 field, California's earliest
                        commercial oil discovery.

                    </p>
                    <p>Our Work
                    </p>
                    <p class="about__right-text">We define the energy challenge in human terms. We strive to maintain a
                        high standard of performance, along with safety, integrity and quality service to all our
                        clients without exceptions. </p>
                    <p>Our Culture
                    </p>
                    <p class="about__right-text">We deliver results the right and responsible way. Our culture is built
                        upon the principles of responsibility, trust and integrity. Our leadership is a profound source
                        of pride and we will lead in the future of energy. </p>
                    <p>We hold ourselves accountable to these values
                    </p>
                    <p class="about__right-text">We fully expect our clients to hold us to them as well.

                        You can find out more in this section about the values that spacelaunchedprojectltd.com brings
                        to our client partnerships, our investment decisions and our philanthropic activities.</p>


                    <div class="listen__progress-wrap">
                        <div class="listen__progress">
                            <div class="listen__progress-box">
                                <div class="circle-progress" data-options="{ " value":="" 0.9,"thickness":=""
                                    3,"emptyfill":="" "#f2f4f8" ,"linecap":="" "square" ,="" "size" :="" 112,="" "fill"
                                    :="" {="" "color" :="" "#3c72fc"="" }="" }"="">
                                </div><!-- /.circle-progress -->
                                <span>90%</span>
                            </div>
                            <div class="listen__progress-content">
                                <h6>of the MCBU drill rig fleet is equipped
                                    as of 2021 to utilize natural gas or the grid
                                    for primary power, which is expected to
                                    reduce emissions intensity and well costs</h6>
                            </div>
                        </div>
                        <div class="listen__progress">
                            <div class="listen__progress-box">
                                <div class="circle-progress" data-options="{ " value":="" 0.5,"thickness":=""
                                    3,"emptyfill":="" "#f2f4f8" ,"linecap":="" "square" ,="" "size" :="" 112,="" "fill"
                                    :="" {="" "color" :="" "#3c72fc"="" }="" }"="">
                                </div><!-- /.circle-progress -->
                                <span>78%</span>
                            </div><!-- /.about-five__progress-box -->
                            <div class="listen__progress-content">
                                <h6>of water used in 2021 was from
                                    brackish or recycled sources</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--About End-->

<!--Brand Three-->




</div>


<!--Brand Three End-->





<!--Team One Start-->
<section class="team-one">
    <div class="team-one__container">
        <div class="section-title text-center">
            <h2 class="section-title__title">SEC Fillings</h2>

        </div>
        <div class="row">

            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <!--Team One Single-->
                <div class="team-one__single">
                    <div class="team-one__img">
                        <img src="{% static 'space/images/pdf.png' %}" alt="">
                        <div class="team-one__hover-content">

                        </div>
                        <div class="team-one__bottom">
                            <div class="team-one__btn-box">
                                <a href="Secfiles.pdf" class="team-one__btn">download Certificate</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
<!--Team One End-->

<!--CTA Two Start-->
<section class="cta-two">
    <div class="cta-two-bg" style="background-image: url({% static 'space/images/cta-two-bg.png' %})"></div>
    <div class="cta-two-bg-overly"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-two__inner">
                    <h2 class="cta-two__title">Individual and Institutional Investors</h2>
                    <p class="cta-two__text">We can help you stand out your business and manage your capital, contact
                        us.</p>
                    <ul class="list-unstyled cta-two__icon-box">
                        <li>
                            <a href="?a=support">
                                <div class="cta-two__icon">
                                    <span class="icon-group"></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="?a=support">
                                <div class="cta-two__icon">
                                    <span class="icon-consulting-1"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}