{% extends 'website_base.html' %}

{% load static %}

{% block content %}


<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div>
    <!-- /.sticky-header__content -->
</div>
<!-- /.stricky-header -->

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="?a=home">Home</a></li>
                <li><span>/</span></li>
                <li>FAQs</li>
            </ul>
            <h2>FAQs</h2>
        </div>
    </div>
</section>
<!--Page Header End-->

<!--FAQS Page Start-->
<section class="faqs-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4><span>.</span> WHAT KIND OF MARKETING DO YOU OFFER?</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    spacelaunchedprojectltd.com offers passive income, namely investment in
                                    spacelaunchedprojectltd.com using cryptocurrrency, real estate commodity and
                                    cryptocurrency exchanges. The company also provides an opportunity for independent
                                    trading on the innovative trading platform spacelaunchedprojectltd.com and also a
                                    High Frequency Trading membership for VIP members.</p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4><span>.</span> WHAT BOUNTY PROGRAM DO YOU OFFER?</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    The bounty program offers to perform certain actions aimed at popularizing the
                                    company and attracting new users, and provides a monetary reward for this.</p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4><span>.</span> HOW SAFE IS IT TO USE THIS WEBSITE?</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    The company has put all the necessary anti-malware software, advanced protection
                                    technology, SSL-encryption in place to guard all the transferred data. Also, the
                                    website is adequately protected by the latest technology from DDoS attacks.</p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4><span>.</span> HOW DO I REGISTER ON THIS WEBSITE?</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    Go to spacelaunchedprojectltd.com and press SIGN UP to sign up. Fill in the
                                    registration form. If everything was filled correctly, then by agreeing to our T&Cs,
                                    you become a participant in our investment services, and we will provide you with a
                                    personal account which details will be delivered to your email after registration
                                </p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4><span>.</span> HOW LONG DOES WITHDRAWALS TAKE TO ARRIVE?</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    Withdrawals are received instantly if delayed, kindly contact our customer support
                                    for assistance.</p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4><span>.</span> WHICH PACKAGE IS BEST TO EARN FROM?</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    SHALLOW DRILLING PLAN serves for all new member looking to upgrade their portifolio
                                    and earn massive income weekly</p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4><span>.</span> How to Join our High Frequency Trading network and earn up to 100,000 USD
                                within a week.</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    When you or your downliners (family,friends and colleges) register and
                                    accumulatively invest more than 250,000 USD over a period of time.</p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                </div>
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4><span>.</span> How to Join our VIP MEMBERSHIP?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>
                                By having an active deposit in the DEEPWATER DRILLING PLAN.</p>
                        </div><!-- /.inner -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>


<!--Message Box End-->

<!--CTA One Start-->
<section class="cta-one">
    <div class="cta-one-bg" style="background-image: url(images/cta-one-bg.png)"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-one__inner">
                    <div class="cta-one__left">
                        <h2 class="cta-one__title">we’re delivering the best <br> customer experience</h2>
                    </div>
                    <div class="cta-one__right">
                        <a href="{% url 'register' %}" class="thm-btn cta-one__btn">let’s get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}